:root {
  --text-color: #4C505C;
  --primary-color: #727AFF;
  --primary-color-hover: #5760FC;
  --light-grey-color: #F5F5F5;
  --brown-color: #616161;
  --light-purple-color: #BEBCCD;
  --grey-color: #A5B1B9;
  --light-brown-color: #8B8B8B;
  --shadow-color: #7F8FA4;
  --line-color: #D5DFE7;
  --error-color: #F7324D;
  --error-color-light: #FC91A0
}
